html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color:#c38bc9 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #ddb59f !important;
    }
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
button.a
{
    height:13%;
    background-color: rgb(241, 95, 10);
    color:white;
    font-family:'Times New Roman', Times, serif;
   

}